In [1]:
from utils.DatasetToCSVORedOx159 import DatasetToCSVORO159Class

In [2]:
# Path to the folder containing XYZ files
folder_path = "data/ORedOx159"

dataset_to_csv = DatasetToCSVORO159Class()
df = dataset_to_csv.process_files(folder_path)
df

,Family,System,NumAtoms,SMILES,charge_gn,E_gn,G_gn,E_ox,G_ox,E_rd,G_rd,dG_red,dG_ox
0,2c,03,35,C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.N.O.O.[HH].[...,0,-861.367098,-861.132207,-861.094439,-860.860387,-861.415401,-861.183181,-0.915758,1.136604
1,2a,06,21,Br.C.C.C.C.C.C.C.C.C.C.C.O.O.[HH].[HH].[HH].[H...,0,-3147.242958,-3147.131136,-3146.909515,-3146.800103,-3147.320427,-3147.210774,-0.944422,1.195817
2,2b,00,29,C.C.C.C.C.C.C.C.C.C.C.C.C.C.O.O.O.O.O.O.O.S.[H...,-1,-1461.720899,-1461.571330,-1461.551369,-1461.404473,-1461.699574,-1461.553440,-0.846894,1.031641
3,4b,11,30,C.C.C.C.C.C.C.C.C.C.C.C.C.C.N.N.N.N.[HH].[HH]....,2,-758.454934,-758.262018,-757.827504,-757.639013,-758.812965,-758.623278,-1.226044,1.487789
4,4b,00,40,C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.N.N.[HH].[HH]....,2,-731.337408,-731.032784,-730.759118,-730.460909,-731.644353,-731.343406,-1.175406,1.436659
...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,2d,03,22,C.C.C.C.C.C.C.C.C.C.C.C.Cl.Cl.Cl.Cl.O.O.[HH].[...,0,-2449.866358,-2449.782791,-2449.560437,-2449.479118,-2449.992248,-2449.911230,-0.993223,1.168457
155,2c,05,39,C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.N.O.O.O.O.O.[H...,0,-1050.019670,-1049.759062,-1049.730758,-1049.472619,-1050.078080,-1049.821087,-0.926809,1.151227
156,2a,05,21,C.C.C.C.C.C.C.C.C.C.O.O.O.O.O.S.[HH].[HH].[HH]...,-1,-1157.795177,-1157.698793,-1157.622668,-1157.528724,-1157.754409,-1157.660251,-0.826242,1.034853
157,3c,05,27,C.C.C.C.C.C.C.C.C.C.C.C.C.N.N.N.[HH].[HH].[HH]...,2,-665.093771,-664.911941,-664.473300,-664.295045,-665.455262,-665.276220,-1.229063,1.481680
158,3f,03,31,C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.Cl.N.N.[HH].[HH]...,2,-1147.862065,-1147.646947,-1147.268077,-1147.057347,-1148.199514,-1147.987698,-1.205535,1.454384

In [3]:
# Save DataFrames to CSV files
df.to_csv("data/ORedOx159.csv", index=False)

print("DataFrames saved:")
print(f"{len(df)} records")

DataFrames saved:
159 records

In [5]:
from utils.DatasetToCSVROP313 import DatasetToCSVROP313Class

In [6]:
# Path to the folder containing XYZ files
folder_path = "data/rop313/orop"

dataset_to_csv = DatasetToCSVROP313Class()
df = dataset_to_csv.process_files(folder_path)
df

,system_number,dG_red,Solvent,Charge_gn,Charge_rd,UHF_gn,UHF_rd,SMILES_1,NumAtoms_1
0,49,1.41,acetonitrile,1,0,1,0,C.C.C.C.C.C.C.O.O.[HH].[HH].[HH].[HH].[HH].[HH...,17
1,181,-1.10,acetonitrile,0,-1,0,1,Br.Br.Br.Br.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C....,37
2,52,1.69,acetonitrile,1,0,1,0,Br.C.C.C.C.C.C.O.[HH].[HH].[HH].[HH].[HH],13
3,27,1.73,acetonitrile,1,0,1,0,C.C.C.C.C.C.C.C.C.Cl.[HH].[HH].[HH].[HH].[HH]....,19
4,139,1.67,acetonitrile,1,0,1,0,C.C.C.C.C.C.C.C.C.C.C.C.C.N.[HH].[HH].[HH].[HH...,25
...,...,...,...,...,...,...,...,...,...
188,18,1.60,acetonitrile,1,0,1,0,C.C.C.C.C.C.C.C.C.C.O.[HH].[HH].[HH].[HH].[HH]...,23
189,62,2.50,acetonitrile,1,0,1,0,C.C.C.C.O.O.[HH].[HH].[HH].[HH].[HH].[HH].[HH]...,14
190,129,1.95,acetonitrile,1,0,1,0,C.C.C.C.C.C.C.O.O.[HH].[HH].[HH].[HH].[HH].[HH],15
191,59,1.51,acetonitrile,1,0,1,0,C.C.C.C.C.O.[HH].[HH].[HH].[HH].[HH].[HH].[HH]...,14
192,3,1.84,acetonitrile,1,0,1,0,C.C.C.C.C.C.C.C.C.C.C.C.C.C.[HH].[HH].[HH].[HH...,24

In [7]:
# Save DataFrames to CSV files
df.to_csv("data/OROP.csv", index=False)

print("DataFrames saved:")
print(f"{len(df)} records")

DataFrames saved:
193 records

In [8]:
# Path to the folder containing XYZ files
folder_path = "data/rop313/omrop"

dataset_to_csv = DatasetToCSVROP313Class()
df = dataset_to_csv.process_files(folder_path)
df

,system_number,dG_red,Solvent,Charge_gn,Charge_rd,UHF_gn,UHF_rd,SMILES_1,NumAtoms_1
0,242,1.86,water,3,2,0,3,O.O.O.O.O.O.[Co].[HH].[HH].[HH].[HH].[HH].[HH]...,19
1,312,0.72,acetonitrile,1,0,1,0,C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C....,61
2,205,-0.40,water,3,2,0,1,C.C.C.C.C.C.C.C.C.C.C.C.N.N.N.N.N.N.[Co].[HH]....,49
3,305,0.84,water,3,2,1,0,C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C....,61
4,216,0.13,dichloromethane,1,0,1,0,B.B.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.N.N.N....,53
...,...,...,...,...,...,...,...,...,...
115,222,-0.02,water,3,2,3,2,C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C....,67
116,232,0.01,water,-3,-4,5,4,C.C.C.C.C.C.O.O.O.O.O.O.O.O.O.O.O.O.[Fe],19
117,278,0.60,water,-2,-3,1,0,C.C.C.C.C.N.N.N.N.N.N.O.[Mn],13
118,247,-0.70,dichloromethane,-2,-3,3,4,C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.Cl.Cl.Cl.C...,37
119,238,-0.11,acetonitrile,0,-1,0,3,C.C.C.C.C.C.C.C.C.C.C.C.C.C.C.O.O.O.O.O.O.[Co]...,43

In [9]:
# Save DataFrames to CSV files
df.to_csv("data/OMROP.csv", index=False)

print("DataFrames saved:")
print(f"{len(df)} records")

DataFrames saved:
120 records